
<footer>
    <section class="footer-top">
        <section class="footer-left">
            
            <div class="logo">
                <a href=""><img src="/media/logo/logo.png" alt="logo" ></a>
            </div>

            <div class="footer-links">
                <div class="explore-links">
                    <h2>Explore</h2>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Movies</a></li>
                        <li><a href="">Series</a></li>
                        <li><a href="">Shows</a></li>
                    </ul>
                </div>
                <div class="cinecrafter-links">
                    <h2>Cinecrafter</h2>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Aim</a></li>
                        <li><a href="#">CineZone</a></li>
                    </ul>
                </div>
                <div class="support-links">
                    <h2>Support</h2>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="footer-middle">
            <div class="subscribe-content">
                <h2>Subscribe to our streaming alerts</h2>
                <!-- <p>Get notified about the latest movies, TV shows and web series.</p> -->
                <form id="subscribe-form">
                  <label for="email">
                    <input
                      type="email"
                      id="email"
                      name="email"
                      placeholder="Your email address"
                      required
                      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    />
                    <button type="submit" id="subscribe-btn">Subscribe</button>
                  </label>
                </form>
            </div>
        </section>
        <section class="footer-right">
            <div class="socials">
                <h2>Lets Connect!</h2>
                <div class="social-links">
                    <a href="#" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" title="instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" title="youtube"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#" title="X"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </section>
        
    </section>
    <section class="footer-bottom">
        <p>&copy; 2025 Cinecrafter. All Rights Reserved.</p>
    </section>
</footer>

