
    
    <header>
        <!-- nav-bar -->
        <nav>
            <!-- nav-left -->
            <section class="nav-left"> 
                <!-- cinecrafter logo -->
                <div class="logo">
                    <a href="/"><img src="/assets/logo/logo.png" alt="logo" ></a>
                </div>
                <!-- nav menu -->
                <menu>
                    <a href="/auth">Movies</a>
                    <a href="/auth">Series</a>
                    <a href="/auth">Shows</a>
                </menu>
                <i class="fa-solid fa-chevron-down menu-toggle" id="menu-toggle"></i>
            </section>
            <!-- nav-right -->
            <section class="nav-right">
                <!-- search bar -->
                <div class="search-bar">
                    <input id="search-input" class="search-input" name="search-input" type="text" placeholder="Search">
                    <label id="search-btn" class="search-btn" for="search-input" title="Search"><i class="fa-solid fa-magnifying-glass" for="search-input"></i></label>
                    <button id="clear-search-btn" class="clear-search-btn" title="Clear"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <!-- user icon -->
                 <div class="profile-img">
                    <i class="fa-solid fa-circle-user fa-xl" id="user"></i>
                 </div>
            </section>

        </nav>
    </header>

