
    
    <header>
        <!-- nav-bar -->
        <nav>
            <!-- nav-left -->
            <section class="nav-left"> 
                <!-- cinecrafter logo -->
                <div class="logo">
                    <a href=""><img src="/assets/logo/logo.png" alt="logo" ></a>
                </div>
                <!-- nav menu -->
                <menu>
                    <a href="#">Movies</a>
                    <a href="#">Series</a>
                    <a href="#">Shows</a>
                </menu>
            </section>
            <!-- nav-right -->
            <section class="nav-right">
                <!-- search bar -->
                <div class="search">
                    <input id="search-bar" class="search-bar" type="text" placeholder="Search">
                    <button id="search-btn" class="search-btn" title="Search"><i class="fa-solid fa-magnifying-glass" for="search-bar"></i></button>
                    <button id="clear-btn" class="clear-btn" title="Clear"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <!-- user icon -->
                 <div class="profile-img">
                    <i class="fa-solid fa-circle-user fa-xl" id="user"></i>
                 </div>
            </section>

        </nav>
    </header>

