<div id="loader-wrapper">
  <lottie-player
    src="/assets/loader.json"
    background="transparent"
    speed="1"
    style="width: 200px; height: 200px;"
    autoplay
    loop>
  </lottie-player>
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
  window.addEventListener("load", () => {
    const loader = document.getElementById("loader-wrapper");
    if (loader) {
      loader.classList.add("hidden");
      setTimeout(() => loader.remove(), 500);
    }
  });
</script>
