<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinecrafter</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="/stylesheets/header-footer.css">
    <link rel="stylesheet" href="/stylesheets/variables.css">
    <!-- scripts -->
    <script defer src="/scripts/header-footer.js"></script>
    <!-- fa-icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <%- include('partials/header') %>

    <main>
      <h1>Welcome to CineCrafter Home!</h1>
      <p>Your personalized streaming platform.</p>
    </main>

    <%- include('partials/footer') %>
    <%- include('partials/toast') %>
</body>
</html>
