/* Slider */
.slider-container{
    width: 100%;
    height: 480px;
    background-color: #1b1b1b;
    border: #8e8e8e 1px solid;

    padding-top: 100px;
}


/* stream-content-section- NewArrivals, WhatsTrending, ComingSoon*/

.stream-content{
    width: 100%;
    height: 1200px;
    /* background-color: #1b1b1b; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    padding: 80px 200px;
}

/*NewArrivals, WhatsTrending, ComingSoon*/

.new-arrivals, .whats-trending, .coming-soon{
    height: 360px;
    width: 100%;
    /* background-color: #658419; */
}

.stream-content div h1{
    color: white;
    margin-bottom: 20px;
}

.card-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: aqua; */
}

/* cards */

.cards{
    height: 240px;
    width: 180px;
    margin-top: 10px;
    transition: 0.3s;
    border-radius: 10px;
    /* background-color: #8e8e8e; */
}

.cards img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    background-color: #8e8e8e;
}

.cards:hover{
    transform: scale(1.1);
}
